<div class="container">
    <div class="row">
        <div class="description col">
            <h3>{{course.title}}</h3>
            <p>{{course.description}}</p>
        </div>
        <div class="parameters col">
            <p><strong>Authors</strong></p>
            <p>{{course.authors}}</p>
            <p><strong>Duration</strong></p>
            <p>{{course.duration}}</p>
            <p><strong>Created</strong></p>
            <p>{{course.creationDate}}</p>
            <button>Show course</button>
        </div>
    </div>
</div>
